

.container {
    width: 90%;
   margin: auto;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.slick-slide {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    
  
    
}

.slick-slide img {
   
    width: 100%;
   
    box-sizing: border-box;
}

.slick-prev{
    
    position: absolute;
    top:40%;
    left:-5%;
    z-index: 1;
    
}

.slick-next{
   
    position: absolute;
    bottom:50%;
    right: -4%;
    z-index: 1;
    
}